@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: #bbb;
  background-color: #111;
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socialMediaIcons {
  cursor: pointer;
  opacity: 0.6;
}

.homeH1 {
  font-size: 72px;
  font-weight: 800;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate {
  animation: move 2s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-35px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.homeAnimate {
  animation: move 3s infinite ease alternate;
}
@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  position: relative;
  background-size: cover;
}

.item:nth-child(1) {
  background: url("/assets/laptops.png");
}

.item:nth-child(2) {
  background: url("/assets/laptops.png");
}

.item:nth-child(3) {
  background: url("/assets/laptops.png");
}
